$size-zero-em:0em;
$size-zero-px:0px;
$size-main:10em;
$size-main-px:10px;
$size-width:100;
$position:center;
$font-main:Verdana,
Geneva,
Tahoma,
sans-serif;
$color-white:white;
$color-grey:#F7F7FA;
$color-dark:#44414D;
$color-blue:#2196F3;

@mixin displayGrid () {
  display: grid;
  display: -ms-grid;
}

@mixin justifyContent($position) {
  -webkit-box-pack: $position;
  -ms-flex-pack: $position;
  justify-content: $position;
}

@mixin justifyItems($position) {
  justify-items: $position;
}

@mixin alignItems($position) {
  -webkit-box-align: $position;
  -ms-flex-align: $position;
  align-items: $position;
}

@mixin align-self($position) {
  -ms-flex-item-align: $position;
  -ms-grid-row-align: $position;
  align-self: $position;
}

@mixin alignSelf($position) {
  -ms-flex-item-align: $position;
  -ms-grid-row-align: $position;
  align-self: $position;
}

@mixin textAlign($position) {
  text-align: $position;
}

@mixin borderRadius($radius1, $radius2, $radius3, $radius4) {
  -webkit-border-radius: $radius1 $radius2 $radius3 $radius4;
     -moz-border-radius: $radius1 $radius2 $radius3 $radius4;
      -ms-border-radius: $radius1 $radius2 $radius3 $radius4;
          border-radius: $radius1 $radius2 $radius3 $radius4;
}



@mixin boxShadowBtn () {
  box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
        -moz-box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
        -webkit-box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
}

@mixin boxShadowBtnHover () {
  box-shadow:  3px 3px 7px lighten(#D4D4D4, 15%);
        -moz-box-shadow: 3px 3px 7px lighten(#D4D4D4, 15%);
        -webkit-box-shadow: 3px 3px 7px lighten(#D4D4D4, 15%);
}


@mixin verticalAlign ($position) {
  vertical-align:$position
}

@mixin textShadow ($size1, $size2, $size3, $color) {
  text-shadow:$size1 $size2 $size3 $color;
}


body {
  padding: $size-zero-em;
  margin: $size-zero-em;
  background-color: $color-white;

}


.grid {
  margin-top: $size-zero-em+3;
  grid-template-rows: repeat(auto-fit, minmax($size-main, 1fr));
  grid-template-columns: minmax($size-main, $size-main*8);
  @include displayGrid();
  @include justifyContent(center);
  grid-row-gap: $size-zero-em+6;
  margin-bottom: $size-main;
}







@import "section-main";
@import "section-notification";
@import "section-icons";