@charset "UTF-8";
body {
  padding: 0em;
  margin: 0em;
  background-color: white; }

.grid {
  margin-top: 3em;
  grid-template-rows: repeat(auto-fit, minmax(10em, 1fr));
  grid-template-columns: minmax(10em, 80em);
  display: grid;
  display: -ms-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-row-gap: 6em;
  margin-bottom: 10em; }

.main {
  display: grid;
  display: -ms-grid;
  grid-row-gap: 15px;
  border: 1.3px dashed #44414D; }
  .main::before {
    background: none;
    border: 1px solid #01ffff;
    content: "";
    display: block;
    position: absolute;
    top: 2.9829em;
    left: 14.15em;
    right: 14.15em;
    bottom: 26.35em;
    pointer-events: none; }
  .main .string1 h3 {
    margin: 0px; }
  .main .string1 p {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .main .string1 p a {
      color: #2196F3;
      text-shadow: 0.1px 0.1px 0.1px #C4E3FC; }
  .main .string2 {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    /*repeat(3, 1fr);*/
    grid-column-gap: 3em; }
    .main .string2 div {
      position: relative;
      height: 4.5em;
      background-color: #F7F7FA; }
      .main .string2 div p {
        text-shadow: 0.1px 0.1px 0.1px #C4E3FC;
        margin-top: 0.5em;
        margin-left: 0.5em; }
      .main .string2 div textarea {
        margin-left: 0.5em;
        background-color: #F7F7FA;
        position: absolute;
        width: 95%;
        bottom: 0.5em;
        border: 0em;
        font-size: 16px;
        color: #44414D;
        text-shadow: 1px 1px 1px #d8d8e6;
        resize: none; }
    .main .string2 .groupname {
      color: #2196F3;
      box-shadow: inset 0 -0.01em rgba(0, 0, 0, 0.151); }
      .main .string2 .groupname textarea {
        box-shadow: inset 0 -0.01em rgba(0, 0, 0, 0.151); }
    .main .string2 .email {
      background-color: #eeeef4; }
      .main .string2 .email p {
        color: #44414D;
        text-shadow: 1px 1px 1px #d8d8e6; }
      .main .string2 .email textarea {
        background-color: #f7f7f7;
        color: #f7f7f7;
        text-shadow: 1px 1px 1px #f7f7f7; }
        .main .string2 .email textarea:hover {
          background-color: #fcfcfc; }
  .main .string3 {
    background-color: #F7F7FA; }
    .main .string3 p {
      margin-top: 0.5em;
      margin-left: 0.5em;
      color: #44414D;
      text-shadow: 1px 1px 1px #d8d8e6; }
    .main .string3 textarea {
      margin-left: 0.5em;
      background-color: #F7F7FA;
      width: 99%;
      border: 0em;
      font-size: 16px;
      color: #44414D;
      text-shadow: 1px 1px 1px #d8d8e6;
      resize: none; }
  .main .string4 .savebtn {
    display: inline-block;
    border: none;
    color: white;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10em;
    height: auto;
    font-size: 16px;
    padding: 1em 2em;
    box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
    text-shadow: 0px 1px 0px white;
    background-image: linear-gradient(to bottom, #FCFCFB, #080707);
    background-color: #807F7F;
    margin-bottom: 1em;
    transition: all 1s ease; }
    .main .string4 .savebtn:hover {
      cursor: pointer;
      background-image: none;
      background-color: #0d8aee;
      box-shadow: 3px 3px 7px #fafafa;
      -moz-box-shadow: 3px 3px 7px #fafafa;
      -webkit-box-shadow: 3px 3px 7px #fafafa; }
  .main .string4 .cancelbtn {
    display: inline-block;
    border: none;
    color: #44414D;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10em;
    height: auto;
    font-size: 16px;
    padding: 1em 3em;
    box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
    text-shadow: 0px 1px 0px white;
    background-color: #E5E9EF;
    margin-bottom: 1em;
    margin-left: 1em; }
    .main .string4 .cancelbtn:hover {
      cursor: pointer;
      background-color: #eeeeee;
      box-shadow: 3px 3px 7px #fafafa;
      -moz-box-shadow: 3px 3px 7px #fafafa;
      -webkit-box-shadow: 3px 3px 7px #fafafa; }

.notifications .attention {
  background-color: #FF7DA7;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 0.1fr 10fr;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .notifications .attention img {
    opacity: 0.5; }
  .notifications .attention .line {
    content: " ";
    background: #FF84AB;
    width: 2px;
    height: 80%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    box-shadow: -1px 0px 1px #F2779E; }
  .notifications .attention span {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; }
  .notifications .attention p {
    display: grid;
    display: -ms-grid;
    font-size: 16px;
    color: white; }

.icons {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  margin-top: -2em;
  text-align: center;
  grid-column-gap: 2em; }
  .icons .iconsmain {
    /* вынесено отдельно, чтобы не повторятьтся!*/
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0em; }
  .icons .square1 {
    /* вынесено отдельно, чтобы не повторятьтся!*/
    background-color: #f7f7f7;
    display: grid;
    display: -ms-grid;
    justify-items: center;
    grid-template-rows: repeat(auto-fit, minmax(4em, 0.5fr)); }
    .icons .square1 .accountbtn {
      display: inline-block;
      border: none;
      color: #44414D;
      -webkit-border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -ms-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      max-width: 15em;
      height: 3em;
      font-size: 16px;
      box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
      -moz-box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
      -webkit-box-shadow: inset 0 1px 0 0 #FFFFFF,inset 0 -1px 0 0 #D4D4D4,inset 0 0 0 1px #D4D4D4,0 2px 4px 0 #D4D4D4;
      text-shadow: 0px 1px 0px white;
      background-color: #e6e6e6;
      margin-bottom: 1em;
      margin-left: 1em; }
      .icons .square1 .accountbtn:hover {
        cursor: pointer;
        background-color: #eeeeee;
        box-shadow: 3px 3px 7px #fafafa;
        -moz-box-shadow: 3px 3px 7px #fafafa;
        -webkit-box-shadow: 3px 3px 7px #fafafa; }
    .icons .square1 #checkbox1, .icons .square1 #checkbox2 {
      display: none; }
    .icons .square1 label:before {
      content: " ";
      display: inline-block;
      margin-right: 15px;
      width: 15px;
      height: 15px;
      background: #2196F3;
      border: 1px solid #e3e3e3;
      vertical-align: middle; }
    .icons .square1 input:checked + label:before {
      /* глифон - галочка */
      color: white;
      content: '✔';
      font-size: 13px;
      line-height: 1em; }
    .icons .square1 input:disabled + label:before {
      background: #f2f2f2;
      color: #d9d9d9; }
  .icons .square2 {
    /* вынесено отдельно, чтобы не повторятьтся!*/
    background-color: #f7f7f7;
    display: grid;
    display: -ms-grid;
    justify-items: center;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: repeat(auto-fit, minmax(7.5em, 0.5fr));
    text-align: left;
    padding-left: 1em; }
    .icons .square2 a {
      opacity: 0.5;
      -webkit-transition: all .5s ease .15s;
      transition: all .5s ease .15s; }
      .icons .square2 a:hover {
        opacity: 1; }
  .icons .telegram span {
    vertical-align: middle; }
