///////////////////////////////////////////////////////////////////////////////////////*БЛОК ДЛЯ КОНСТАНТ *//////////////////////////////////////////////////////////
$font-size: 14px;
$size-width:100px;
$size-gap:1em;
$font-primary:Tahoma, Geneva, "DejaVu Sans Condensed", sans-serif;
$font-secondary:'Roboto', Arial, sans-serif;
$font_for_footer :"Ubuntu",sans-serif;
$color-white:white;
$color-red:#ed1c24;
$color-gray:#97979e;
$color-darkgray:#666;

///////////////////////////////////////////////////////////////////////////////////////*БЛОК ДЛЯ МИКСИНОВ *//////////////////////////////////////////////////////////
  @mixin displayGrid () {
    display: grid;
    display: -ms-grid;
  }

  @mixin displayflex () {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @mixin displayInlineFlex () {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  @mixin justifyContent($position) {
    -webkit-box-pack: $position;
    -ms-flex-pack: $position;
    justify-content: $position;
  }

  @mixin alignItems($position) {
    -webkit-box-align:$position;
       -ms-flex-align:$position;
           align-items:$position
  }

  @mixin alignSelf($position) {
    -ms-flex-item-align:$position;
        -ms-grid-row-align:$position;
        align-self:$position
  }

  @mixin alignContent($position){
    -ms-flex-line-pack: $position;
      align-content: $position;
  }

  @mixin justifySelf ($position) {
    -ms-grid-column-align:$position;
    justify-self:$position;
  }

  @mixin backgroundColorGradient ($position, $color1, $percentage1, $color2, $percentage2, $color3, $percentage3) {
    background: -moz-linear-gradient($position, $color1 $percentage1,  $color2 $percentage2, $color3 $percentage3);
    background: -webkit-linear-gradient($position, $color1 $percentage1, $color2 $percentage2, $color3 $percentage3);
    background: -o-linear-gradient($position, $color1 $percentage1, $color2 $percentage2, $color3 $percentage3);
    background: -ms-linear-gradient($position, $color1 $percentage1, $color2 $percentage2, $color3 $percentage3);
    background: linear-gradient($position, $color1 $percentage1, $color2 $percentage2, $color3 $percentage3);
  }

  @mixin boxShadow ($x, $y, $radius, $size, $color) {
    box-shadow: $x $y $radius $size $color;
        -moz-box-shadow: $x $y $radius $size $color;
        -webkit-box-shadow: $x $y $radius $size $color;
  }

  @mixin transition ($type, $duration) {
    -webkit-transition: $type $duration;
    -o-transition: $type $duration;
    transition: $type $duration;
  }



///////////////////////////////////////////////////////////////////////////////////ОСНОВНОЙ CSS///////////////////////////////////////////////////////////////////////////////

* {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {

  font-family: $font-primary;
  font-size: $font-size;
  @include displayGrid();
  @include justifyContent(center);
  grid-template-rows: repeat(auto-fit, minmax(15px, 1fr));
  grid-template-columns: minmax($size-width, $size-width* 13.6);
  justify-items: center;
  grid-row-gap: $size-gap;
  }
  
  ul {
  list-style: none; 
  }
  
  a {
      text-decoration:none;
      
      &:hover {
        border: none;
        text-decoration: none;
      }
  }

  input[type=button] {
    background: transparent;
    border-radius: 3px;
    display: inline-block;
    font: 400 10px/28px 'Roboto',Arial,sans-serif;
    height: 28px;
    letter-spacing: .8px;
    min-width: 47px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .btn {
    height: 45px;
    width: 45px;
      &::before,
      &::after {
          border-top: 1px solid white;
          content: '';
          display: block;
          height: 0;
          left: 14px;
          position: absolute;
          top: 15px;
          width: 17px;
      }

      &:hover {
        cursor: pointer;
      }
    
  }

  .linc {
    color: #BEC9D8;
    font: 500 12px/12px $font-secondary;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-size: ($font-size)-2;

      &:hover {
      color: $color-white;
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////// МЕДИА ЗАПРОСЫ ////////////////////////////////////////////////////////////////////////

  @media screen and (max-width:1024px) {
    .grid {
    grid-template-columns: minmax($size-width, $size-width* 10.24);
  }
}
  @media screen and (max-width:960px) {
    .grid {
    grid-template-columns: minmax($size-width, $size-width* 9.6);
  }
}

  //////////////////////////////////////////////////////////////////////////////////////ИМПОРТЫ//////////////////////////////////////////////////////////////////////////////
  @import "section-header";
  @import 'section-searchForm';
  @import 'section-tours';
  @import 'section-footer';
  @import 'section-asideMenu';