.icons { 
    
    @include displayGrid();
    grid-template-columns: repeat(auto-fit, minmax($size-main, 1fr));
    margin-top: ($size-zero-em)- 2;
    @include textAlign(center);
    grid-column-gap: $size-zero-em+ 2;
    .iconsmain {   /* вынесено отдельно, чтобы не повторятьтся!*/
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: $size-zero-em;
    }
    .square1 { /* вынесено отдельно, чтобы не повторятьтся!*/
      background-color: darken($color-white, 3%);
      @include displayGrid();
      @include justifyItems(center);
      grid-template-rows: repeat(auto-fit, minmax($size-zero-em +4, 0.5fr));
      .accountbtn {
        display: inline-block;
        border: none;
        color: $color-dark;
        @include borderRadius($size-zero-px+5, $size-zero-px+5, $size-zero-px+5, $size-zero-px+5);
        font-family: $font-main;
        max-width: $size-main+5;
        height: ($size-main) - 7;
        font-size: $size-main-px + 6;
        @include boxShadowBtn ();
        @include textShadow ($size-zero-px, $size-zero-px+ 1, $size-zero-px, $color-white);
        background-color: darken($color-white, 10%);
        margin-bottom: $size-zero-em+1;
        margin-left: $size-zero-em+1;
        &:hover {
          cursor: pointer;
          background-color: lighten(#D4D4D4, 10%);
          @include boxShadowBtnHover ();
        }
      
    
    
    }
      
      
      #checkbox1, #checkbox2{
        display: none;
    }
    
     
    label:before {
      content: " ";
      display: inline-block;
      margin-right: $size-main-px + 5;
      width: $size-main-px + 5;
      height: $size-main-px + 5;
      background: #2196F3;
      border: 1px solid #e3e3e3;
      @include verticalAlign (middle);
    }
     
    input:checked + label:before {
    /* глифон - галочка */
    color:$color-white;
     content: '✔';
     font-size: $size-main-px + 3;
     line-height: $size-zero-em + 1;
    
    }
     
    input:disabled + label:before {
     background: darken($color-white, 5%);
     color: darken($color-white, 15%);
    }
    
    }
    .square2 { /* вынесено отдельно, чтобы не повторятьтся!*/
      background-color: darken($color-white, 3%);
      @include displayGrid();
      @include justifyItems(center);
      grid-template-columns: 9fr 3fr;
      grid-template-rows: repeat(auto-fit, minmax(7.5em, 0.5fr));
      @include textAlign(left);
      padding-left: $size-zero-em + 1;
      a {
        opacity: 0.5;
        -webkit-transition: all .5s ease .15s;
        transition: all .5s ease .15s;
        &:hover {
          opacity: 1;
        }
      }
    }
    .telegram {
     span {
        @include verticalAlign (middle);
  }
  
    
    }
    
    
  }